@import "tailwindcss" reference;

.cm-editor {
  .cm-content,
  .cm-lineNumbers,
  .cm-vim-panel,
  .cm-panel,
  .cm-tooltip.cm-tooltip-autocomplete > ul {
    @apply font-mono;
  }

  .cm-panels-bottom {
    background-color: var(--gh-bg-muted) !important;
    border-top: 1px solid var(--gh-border) !important;
  }

  .cm-tooltip {
    background: #f9f9f8;
    border-color: #dad9d6;
    border-radius: 0.25rem;
  }

  .cm-tooltip.cm-completionInfo {
    @apply font-sans;

    &.cm-completionInfo-right {
      transform: translateX(0.25rem);
    }
  }

  .cm-gutters {
    background-color: #0d1117 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.cm-focused {
  outline: none !important;
}

.cm-editor {
  border-right: 1px solid var(--gh-border) !important;
}

.gh-box-shadow {
  box-shadow: rgb(61, 68, 77) 0px -1px 0px 0px inset;
}

.gh-header {
  background-color: #010409;
}

.gh-text-primary {
  color: rgb(240, 246, 252);
}

.gh-border-top {
  border-top: 1px solid rgb(61, 68, 77);
}
