.gh-box-shadow {
  box-shadow: rgb(61, 68, 77) 0px -1px 0px 0px inset;
}

.gh-header {
  background-color: #010409;
}

.gh-text-primary {
  color: rgb(240, 246, 252);
}

.gh-border-bottom {
  border-bottom: 1px solid rgb(61, 68, 77);
}

.gh-border-left {
  border-left: 1px solid rgb(61, 68, 77);
}

.main {
  background-color: #0d1117;
}
