@import "tailwindcss" reference;

.cm-editor {
  .cm-content,
  .cm-lineNumbers,
  .cm-vim-panel,
  .cm-panel,
  .cm-tooltip.cm-tooltip-autocomplete > ul {
    @apply font-mono;
  }

  .cm-tooltip {
    background: #f9f9f8;
    border-color: #dad9d6;
    border-radius: 0.25rem;
  }

  .cm-tooltip.cm-completionInfo {
    @apply font-sans;

    &.cm-completionInfo-right {
      transform: translateX(0.25rem);
    }
  }
}
