@import "tailwindcss" reference;

.editor-parent {
  width: 100%;
  height: 100%;
}

.bg-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.svg-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cm-editor {
  .cm-content,
  .cm-lineNumbers,
  .cm-vim-panel,
  .cm-panel,
  .cm-tooltip.cm-tooltip-autocomplete > ul {
    @apply font-mono;
  }

  .cm-panels-bottom {
    background-color: var(--gh-bg-muted) !important;
    border-top: 1px solid var(--gh-border) !important;
  }

  .cm-tooltip.cm-completionInfo {
    @apply font-sans;

    &.cm-completionInfo-right {
      transform: translateX(0.25rem);
    }
  }

  .cm-gutters {
    background-color: #0d1117 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.cm-focused {
  outline: none !important;
}

.cm-editor {
  background-color: transparent !important;
}

.cm-activeLine {
  background-color: transparent !important;
}

.cm-activeLineGutter {
  background-color: transparent !important;
}
