@import "tailwindcss" reference;

.cm-editor {
  .cm-content,
  .cm-lineNumbers,
  .cm-vim-panel,
  .cm-panel,
  .cm-tooltip.cm-tooltip-autocomplete > ul {
    @apply font-mono;
  }

  .cm-panels-bottom {
    background-color: var(--gh-bg-muted) !important;
    border-top: 1px solid var(--gh-border) !important;
  }

  .cm-tooltip.cm-completionInfo {
    @apply font-sans;

    &.cm-completionInfo-right {
      transform: translateX(0.25rem);
    }
  }

  .cm-gutters {
    background-color: #0d1117 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.cm-focused {
  outline: none !important;
}
